@media screen and (min-width: 320px){
    .container{
        width: 200px;
        height: 320px;
        margin-top: 250px;
        margin-right: 20px;
    }
}
@media screen and (min-width: 375px){
    .container{
        width: 240px;
        height: 360px;
        margin-top: 250px;
        margin-right: 40px;
    }
}
@media screen and (min-width: 425px){
    .container{
        width: 280px;
        height: 400px;
        margin-top: 200px;
        margin-right: 55px;
    }
}
@media screen and (min-width: 768px){
    .container{
        width: 480px;
        height: 740px;
        margin-top: 200px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 360px;
        height: 640px;
        margin-top: 200px;
        margin-right: 120px;
    }
}
@media screen and (max-width: 1440px){
    .container{
        width: 360px;
        height: 640px;
        margin-top: 150px;
        margin-right: 20px;
    }
}
