@media screen and (min-width: 320px){
    .container{
        width: 180px;
        height: 300px;
        margin-top: 40px;
        margin-right: 10px;
        position: absolute;
    }
    .text {
        margin-left: 70px;
        margin-top: 270px;
    }
    .text h2{
        padding: 50px;
        padding-right: 170px;
        padding-top: 70px;
    }
    .text p{
        position: absolute;
        padding: 50px;
        margin-top: -110px;    
    }

}
@media screen and (min-width: 375px){
    .container{
        width: 200px;
        height: 360px;
        margin-top: 40px;
        margin-right: 20px;
        position: absolute;
    }
    .text {
        margin-left: 70px;
        margin-top: 270px;
    }
    .text h2{
        padding: 50px;
        padding-right: 170px;
        padding-top: 70px;
    }
    .text p{
        position: absolute;
        padding: 50px;
        margin-top: -110px;    
    }
}
@media screen and (min-width: 425px){
    .container{
        width: 240px;
        height: 430px;
        margin-top: 0px;
        margin-right: 40px;
        position: absolute;
    }
    .text {
        margin-left: 20px;
        margin-top: 270px;
    }
    .text h2{
        padding: 50px;
        padding-right: 170px;
        padding-top: 70px;
    }
    .text p{
        position: absolute;
        padding: 50px;
        margin-top: -110px;    
    }
}
@media screen and (min-width: 768px){
    .body{
        overflow: hidden ;
        width: 100%;
    }
    .text{
        left: 70px;
    }
    .container{
        width: 60%;
        height: 420px;
        position:relative;
        top: 50px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 360px;
        height: 640px;
        margin-top: 20px;
        margin-right: 120px;
        position: absolute;
    }
    .text{
        margin-top: 600px;
        margin-left: -250px
    }
    .text h2{
        margin-left: 50px;
        margin-top: -200px;
    }
    .text p{
        margin-left: 50px;
        position: absolute
    }
}
@media screen and (max-width: 1440px){
    .container{
        
        width: 360px;
        height: 640px;
        margin-top: 50px;
        margin-right: 20px;
        position: absolute;
    }
    .text{
        margin-top: 500px;
        margin-left: -450px
    }
    .text h2{
        margin-left: 50px;
        margin-top: -200px;
    }
    .text p{
        margin-left: 50px;
        position: absolute
    }
}
