*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: linear-gradient(225deg, rgba(4, 137, 226, 0.897), rgba(241, 0, 141, 0.808));
    position: relative;
    overflow: hidden ;
}
.text{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    margin: 50px auto;
    color: aliceblue;
    width: 100%;
    height: auto;
    text-align: center;
}
.container{
    position: relative;
    /* width: 360px;
    height: 640px; */
    margin-top: 5%;
    width: 25%;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(-30deg) skew(30deg) scale(0.7) translateX(-90%);
    transition: 1s;
}
.container img{
    position: absolute;
    width: 100%;
    transition: 1s;
}
.container:hover img:nth-child(4){
    transform: translate(160px, -160px);
    opacity: 1;
}
.container:hover img:nth-child(3){
    transform: translate(120px, -120px);
    opacity: 0.8;
}
.container:hover img:nth-child(2){
    transform: translate(80px, -80px);
    opacity: 0.6;
}
.container:hover img:nth-child(1){
    transform: translate(40px, -40px);
    opacity: 0.4;
}
@media screen and (max-width:1000px) {
    .container{
        transform: rotate(-30deg) skew(30deg) scale(0.8) translateX(-90%);
        margin-top: 8%;

    }
}
@media screen and (max-width:500px) {
    .container{
        transform: rotate(-30deg) skew(30deg) scale(1.1) translateX(-90%);
        margin-top: 30%;

    }
}
