body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 137, 226, 0.897), rgba(241, 0, 141, 0.808));
}
.text{
    position: absolute;
    top: 120px;
    left: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
    padding-right: 150px;
    color: aliceblue;
}
.container{
    position: relative;
    width: 360px;
    height: 640px;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.1);
    transform: rotate(-30deg) skew(25deg) scale(0.6);
    transition: 1s;
}
.container img{
    position: absolute;
    width: 100%;
    transition: 1s;
}
.container:hover img:nth-child(4){
    transform: translate(160px, -160px);
    opacity: 1;
}
.container:hover img:nth-child(3){
    transform: translate(120px, -120px);
    opacity: 0.8;
}
.container:hover img:nth-child(2){
    transform: translate(80px, -80px);
    opacity: 0.6;
}
.container:hover img:nth-child(1){
    transform: translate(40px, -40px);
    opacity: 0.4;
}

